<!-- Breadcrumb -->
<div id="setting-breadcrumb">
    <p class="breadcrumb-text">
        <a href="#"><span class="material-symbols-rounded">
                home
            </span></a> > <a class="active">Settings</a>
    </p>
</div>

<!-- tab -->
<div class="tab-left">
    <div class="nav nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-1"
            type="button" role="tab" aria-selected="true">User Privilages</button>
        <button class="nav-link" id="v-pills-2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button"
            role="tab" aria-selected="false">Ledger Privilages</button>
        <button class="nav-link" id="v-pills-3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button"
            role="tab" aria-selected="false">Purchase Settings</button>
        <button class="nav-link" id="v-pills-4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-4" type="button"
            role="tab" aria-selected="false">Sales Settings</button>
        <button class="nav-link" id="v-pills-5-tab" data-bs-toggle="pill" data-bs-target="#v-pills-5" type="button"
            role="tab" aria-selected="true">Inter Branch Transfer & Reciept Settings</button>
        <button class="nav-link" id="v-pills-6-tab" data-bs-toggle="pill" data-bs-target="#v-pills-6" type="button"
            role="tab" aria-selected="false">Sales Quotation Settings</button>
        <button class="nav-link" id="v-pills-7-tab" data-bs-toggle="pill" data-bs-target="#v-pills-7" type="button"
            role="tab" aria-selected="false">Rate Settings</button>
        <button class="nav-link" id="v-pills-8-tab" data-bs-toggle="pill" data-bs-target="#v-pills-8" type="button"
            role="tab" aria-selected="false">Barcode Settings</button>
        <button class="nav-link" id="v-pills-9-tab" data-bs-toggle="pill" data-bs-target="#v-pills-9" type="button"
            role="tab" aria-selected="true">Print</button>
        <button class="nav-link" id="v-pills-10-tab" data-bs-toggle="pill" data-bs-target="#v-pills-10" type="button"
            role="tab" aria-selected="false">Advanced Settings</button>
        <button class="nav-link" id="v-pills-11-tab" data-bs-toggle="pill" data-bs-target="#v-pills-11" type="button"
            role="tab" aria-selected="false">Dashboard Settings</button>
        <button class="nav-link" id="v-pills-12-tab" data-bs-toggle="pill" data-bs-target="#v-pills-12" type="button"
            role="tab" aria-selected="false">Price Checker Settings</button>
        <button class="nav-link" id="v-pills-13-tab" data-bs-toggle="pill" data-bs-target="#v-pills-13" type="button"
            role="tab" aria-selected="true">Godown Settings</button>
        <button class="nav-link" id="v-pills-14-tab" data-bs-toggle="pill" data-bs-target="#v-pills-14" type="button"
            role="tab" aria-selected="false">Product Settings</button>
        <button class="nav-link" id="v-pills-15-tab" data-bs-toggle="pill" data-bs-target="#v-pills-15" type="button"
            role="tab" aria-selected="false">Delivery Note settings</button>
        <button class="nav-link" id="v-pills-16-tab" data-bs-toggle="pill" data-bs-target="#v-pills-16" type="button"
            role="tab" aria-selected="false">Van Settings</button>
        <button class="nav-link" id="v-pills-17-tab" data-bs-toggle="pill" data-bs-target="#v-pills-17" type="button"
            role="tab" aria-selected="false">Mail Settings</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <!-- User privilges -->
        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" tabindex="0">
            <div class="modal-body formDiv">
                <div class="form-group mdDiv">
                    <label for="unitType">Unit Type</label>

                    <div class="select-box">
                        <div class="select-box__current" tabindex="1">
                            <div class="select-box__value">
                                <input class="select-box__input" type="radio" id="unitType1" value="1" name="unitType"
                                    checked="checked" />
                                <p class="select-box__input-text">Base unit</p>
                            </div>
                            <div class="select-box__value">
                                <input class="select-box__input" type="radio" id="unitType2" value="2"
                                    name="unitType" />
                                <p class="select-box__input-text">Derived unit</p>
                            </div>
                            <img class="select-box__icon" src="../../assets/down-arrow.svg" alt="Arrow Icon"
                                aria-hidden="true" />

                        </div>
                        <ul class="select-box__list">
                            <li>
                                <label class="select-box__option" for="unitType1" aria-hidden="aria-hidden">Base
                                    unit</label>
                            </li>
                            <li>
                                <label class="select-box__option" for="unitType2" aria-hidden="aria-hidden">Derived
                                    unit</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-2" role="tabpanel" tabindex="0">.e..</div>
        <div class="tab-pane fade" id="v-pills-3" role="tabpanel" tabindex="0">.df..</div>

        <!-- Sales setting -->
        <div class="tab-pane fade" id="v-pills-4" role="tabpanel" tabindex="0">
            <ul class="tab nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Sales setting</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Terms & Conditions</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Template 1 Settings</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Common Template Settings</button>
                </li>
            </ul>
            <div class="inside-tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    tabindex="0">...</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                    tabindex="0">...</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">...</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">...</div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-5" role="tabpanel" tabindex="0">.e..</div>
        <div class="tab-pane fade" id="v-pills-6" role="tabpanel" tabindex="0">.df..</div>
        <div class="tab-pane fade" id="v-pills-7" role="tabpanel" tabindex="0">.f..</div>
        <div class="tab-pane fade" id="v-pills-8" role="tabpanel" tabindex="0">.e..</div>
        <div class="tab-pane fade" id="v-pills-9" role="tabpanel" tabindex="0">.df..</div>
        <div class="tab-pane fade" id="v-pills-10" role="tabpanel" tabindex="0">.f..</div>
        <div class="tab-pane fade" id="v-pills-11" role="tabpanel" tabindex="0">.e..</div>
        <div class="tab-pane fade" id="v-pills-12" role="tabpanel" tabindex="0">.df..</div>
        <div class="tab-pane fade" id="v-pills-13" role="tabpanel" tabindex="0">.f..</div>
        <div class="tab-pane fade" id="v-pills-14" role="tabpanel" tabindex="0">.e..</div>
        <div class="tab-pane fade" id="v-pills-15" role="tabpanel" tabindex="0">.df..</div>
        <div class="tab-pane fade" id="v-pills-16" role="tabpanel" tabindex="0">.f..</div>
        <div class="tab-pane fade" id="v-pills-17" role="tabpanel" tabindex="0">.e..</div>
    </div>
</div>