@import "/src/styles.scss";

.footer {
  width: calc(100% - 5rem);
  margin-left: 4.3rem;
  z-index: 3;
  transition: all 0.5s ease;
  background-color: $white;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid $borderGray;

  @include media-lg {
    position: fixed;
    bottom: 0;
    padding: 1rem 2rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-text {
    p {
      font-size: $fontMob-2;
      font-weight: 500;
      margin-top: 0;
      color: $textGray;
      margin-bottom: 1rem;
      cursor: pointer;

      @include media-md {
        margin-top: 0;
        margin-bottom: 0;
      }

      &:hover {
        color: $black;
      }

      a {
        color: $color1;

        &:hover {
          color: $color2;
        }
      }
    }
  }

  .right-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    p {
      font-size: $fontMob-2;
      font-weight: 500;
      margin-top: 0;
      color: $textGray;
      cursor: pointer;

      @include media-md {
        margin-right: 1rem;
      }

      &:hover {
        color: $black;
      }

      a {
        color: $color1;

        &:hover {
          color: $color2;
        }
      }
    }

    .support {
      display: flex;
      align-items: center;

      p {
        margin-right: 1rem;
        cursor: pointer;

        &:nth-last-child(1){
          margin-right: 0;
        }
      }
    }
  }
}

.footer-trimmed {
  width: calc(100% - 15rem);
  margin-left: 15rem;
}

.footer-md-screen {
  width: calc(100% - 5rem);
  margin-left: 4.3rem;

  @include media-md {
    margin-left: 5rem;
  }
}
